In [40]:
from methods import *

In [41]:
count_obj = pd.read_csv('./data/count_obj.csv')
count_obj

,sample,type,phenotype,count,cell_group,proportion
0,10x_6K,benign,b_cell_macrophage_precursor_or_follicular_LTB_...,42,BM,0.008350
1,10x_6K,benign,B_cell:immature,361,B1,0.071769
2,10x_6K,benign,B_cell:immature_IGLC3_IGLC2,57,B2,0.011332
3,10x_6K,benign,B_cell:Memory_ITM2C_IGHA1_MZB1_JCHAIN,40,B3,0.007952
4,10x_6K,benign,Dendritic_CD11_CD1_high_mito,75,Dm,0.014911
...,...,...,...,...,...,...
715,SRR7244582,benign,T_cell:CD8+_GZMK_DUSP2_LYAR_CCL5,197,CD8 2,0.060727
716,SRR7244582,benign,T_cell:CD8+_non_activated,320,CD8 3,0.098644
717,SRR7244582,benign,T_cell:CD8+_PPBP_SAT1,39,CD8 4,0.012022
718,SRR7244582,benign,T_cell:CD8+_S100B,88,CD8 5,0.027127
719,SRR7244582,benign,T_cell:CD8low_TIMP1_PPBP,107,CD8 6,0.032984

In [42]:
estimate_res = sccomp_estimate(
    data = count_obj,
    formula_composition = '~ 0 + type', 
    sample = 'sample',
    cell_group = 'cell_group',
    count = 'count',
    verbose = False
)

10:55:34 - cmdstanpy - INFO - CmdStan start processing

chain 1 |          | 00:00 Status

chain 2 |          | 00:00 Status

chain 3 |          | 00:00 Status

chain 4 |          | 00:00 Status

10:55:43 - cmdstanpy - INFO - CmdStan done processing.
10:55:43 - cmdstanpy - WARNING - Non-fatal error during sampling:
Exception: Exception: beta_binomial_lpmf: First prior sample size parameter[1] is inf, but must be positive finite! (in 'glm_multi_beta_binomial.stan', line 214, column 16 to line 219, column 19) (in 'glm_multi_beta_binomial.stan', line 653, column 3 to line 683, column 8)
	Exception: gamma_lpdf: Random variable is inf, but must be positive finite! (in 'glm_multi_beta_binomial.stan', line 753, column 2 to column 53)
Exception: Exception: beta_binomial_lpmf: Second prior sample size parameter[323] is 0, but must be positive finite! (in 'glm_multi_beta_binomial.stan', line 214, column 16 to line 219, column 19) (in 'glm_multi_beta_binomial.stan', line 653, column 3 to line 683, column 8)
Exception: Exception: beta_binomial_lpmf: First prior sample size parameter[1] is inf, but must be positive finite! (in 'glm_multi_beta_binomial.stan', line 214, column 16 to line 219, column 19) (in 'glm_multi_beta_binomial.stan', line 653, column 3 to line 683, column 8)
Exception: Exception: beta_binomial_lpmf: First prior sample size parameter[1] is 0, but must be positive finite! (in 'glm_multi_beta_binomial.stan', line 214, column 16 to line 219, column 19) (in 'glm_multi_beta_binomial.stan', line 653, column 3 to line 683, column 8)
	Exception: Exception: beta_binomial_lpmf: Second prior sample size parameter[317] is 0, but must be positive finite! (in 'glm_multi_beta_binomial.stan', line 214, column 16 to line 219, column 19) (in 'glm_multi_beta_binomial.stan', line 653, column 3 to line 683, column 8)
Consider re-running with show_console=True if the above output is unclear!

In [43]:
estimate_res.keys()

dict_keys(['fit', 'model_input', 'truncation_df2', 'sample', 'cell_group', 'count', 'formula_composition', 'formula_variability', 'noise_model'])

In [44]:
test_res = sccomp_test(estimate_res)

/home/chzhan1/Python/SAiGENCI/sccompPy/utilities.py:287: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = draws.groupby([cell_group, 'M', 'parameter'])
/home/chzhan1/Python/SAiGENCI/sccompPy/utilities.py:304: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  summary["FDR"] = summary.groupby("parameter")[f"{prefix}pH0"].transform(lambda pH0: get_FDR(pH0))

The following is for developing utility fucntions

In [45]:
test_res['result']

,cell_group,parameter,c_lower,c_effect,c_upper,c_pH0,FDR,N_Eff,R_k_hat,v_lower,v_effect,v_upper,v_pH0,factor,design_matrix_col,count_data
0,B1,type[benign],0.902579,1.156730,1.382986,0.00000,0.000000,4577.800,0.999508,NaN,NaN,NaN,NaN,type,type[benign],sample type phenotype co...
1,B1,type[cancer],0.143119,0.490314,0.813757,0.01425,0.001590,4821.820,0.999228,NaN,NaN,NaN,NaN,type,type[cancer],sample type phenotype co...
2,B2,type[benign],0.406401,0.722807,1.020415,0.00025,0.000024,4722.940,1.000590,NaN,NaN,NaN,NaN,type,type[benign],sample type p...
3,B2,type[cancer],-0.424508,0.024740,0.434887,0.63725,0.088066,5123.280,0.999620,NaN,NaN,NaN,NaN,type,type[cancer],sample type p...
4,B3,type[benign],-0.635018,-0.363745,-0.082036,0.03250,0.003685,5132.780,0.999846,NaN,NaN,NaN,NaN,type,type[benign],sample type ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,TM1,type[cancer],0.211965,0.475669,0.725915,0.00500,0.000386,4377.890,1.000060,NaN,NaN,NaN,NaN,type,type[cancer],sample type ...
68,TM2,type[benign],-1.543125,-1.169310,-0.829778,0.00000,0.000000,4735.930,1.000370,NaN,NaN,NaN,NaN,type,type[benign],sample type ...
69,TM2,type[cancer],-1.224336,-0.896073,-0.590296,0.00000,0.000000,4094.750,0.999979,NaN,NaN,NaN,NaN,type,type[cancer],sample type ...
70,TM3,type[benign],-1.695677,-0.796452,0.276427,0.10925,0.018129,828.269,1.006230,NaN,NaN,NaN,NaN,type,type[benign],sample type ...
71,TM3,type[cancer],-3.899472,-2.637370,-1.397299,0.00000,0.000000,839.903,1.007360,NaN,NaN,NaN,NaN,type,type[cancer],sample type ...

In [46]:
from utilities import draws_to_tibble_x_y
draws_to_tibble_x_y(res.get('fit'), 'beta', 'C', 'M')

        chain__  iter__  draw__ variable  C   M    value
0           1.0     1.0       1     beta  1   1  1.16164
1           1.0     2.0       2     beta  1   1  1.09678
2           1.0     3.0       3     beta  1   1  1.40890
3           1.0     4.0       4     beta  1   1  1.14001
4           1.0     5.0       5     beta  1   1  1.25100
...         ...     ...     ...      ... ..  ..      ...
287995      4.0   996.0    3996     beta  2  36 -1.62452
287996      4.0   997.0    3997     beta  2  36 -2.40159
287997      4.0   998.0    3998     beta  2  36 -2.59590
287998      4.0   999.0    3999     beta  2  36 -3.17630
287999      4.0  1000.0    4000     beta  2  36 -1.93886

[288000 rows x 7 columns]

The following is for dev:

In [47]:
data = estimate_res
# Retrieve attributes from data
cell_group = data.get("cell_group", None)
model_input = data.get("model_input", {})
fit = data.get("fit", {})

In [48]:
beta_factor_of_interest = data.get('model_input').get("X").columns.tolist()
beta = draws_to_tibble_x_y(fit, "beta", "C", "M")
beta = beta.pivot(index = ['chain__', 'iter__', 'draw__', 'variable', 'M'], columns='C', values='value')
beta.columns = beta_factor_of_interest
beta.reset_index(inplace=True)

# Abundance
draws = beta.drop(columns=['variable'], errors='ignore')

In [49]:
contrasts = ['type[cancer] - type[benign]']

In [50]:
from utilities import mutate_from_expr_list
mutate_from_expr_list(x = draws, formula_expr = contrasts )

,chain__,iter__,draw__,M,type[benign],type[cancer],type[cancer] - type[benign]
0,1.0,1.0,1,1,0.984241,0.246860,-0.737381
1,1.0,1.0,1,2,0.501594,-0.095456,-0.597050
2,1.0,1.0,1,3,-0.251017,-0.889221,-0.638204
3,1.0,1.0,1,4,-0.841260,-1.609030,-0.767770
4,1.0,1.0,1,5,0.262204,0.607574,0.345370
...,...,...,...,...,...,...,...
143995,4.0,1000.0,4000,32,0.849682,0.588778,-0.260904
143996,4.0,1000.0,4000,33,0.772174,0.839723,0.067549
143997,4.0,1000.0,4000,34,0.268162,0.785012,0.516850
143998,4.0,1000.0,4000,35,-1.013780,-0.969729,0.044051
143999,4.0,1000.0,4000,36,-0.590463,-1.413260,-0.822797

In [51]:
from utilities import summary_to_tibble
summary_to_tibble(fit, "alpha_normalised", "C", "M")

,variable,C,M,Mean,5%,25%,50%,75%,95%,N_Eff,R_hat
0,alpha_normalised,1,1,5.39296,4.81995,5.16411,5.39435,5.62511,5.95409,5509.71,0.999487
1,alpha_normalised,1,2,5.02291,4.49644,4.80818,5.03124,5.24259,5.52051,5652.74,0.999820
2,alpha_normalised,1,3,5.86548,5.26375,5.63499,5.87489,6.11107,6.43901,6048.17,0.999312
3,alpha_normalised,1,4,6.25285,5.56588,6.00162,6.26510,6.51413,6.88858,5768.00,0.999906
4,alpha_normalised,1,5,6.33930,5.72497,6.09823,6.35022,6.59145,6.92367,5830.67,0.999769
5,alpha_normalised,1,6,5.13239,4.57745,4.91322,5.14274,5.36148,5.64961,6732.06,0.999475
6,alpha_normalised,1,7,4.70125,4.13917,4.48091,4.70812,4.92912,5.23370,5664.66,0.999361
7,alpha_normalised,1,8,5.94168,5.15858,5.61844,5.94383,6.26622,6.71439,4726.65,1.000970
8,alpha_normalised,1,9,5.23890,4.70571,5.02768,5.24739,5.45646,5.74250,6550.71,0.999392
9,alpha_normalised,1,10,5.46982,4.84507,5.22070,5.47739,5.72075,6.08166,6209.31,0.999227
10,alpha_normalised,1,11,5.80366,5.19940,5.56551,5.80936,6.04901,6.39651,5231.90,0.999422
11,alpha_normalised,1,12,4.91654,4.36623,4.70648,4.92931,5.13202,5.44450,5426.09,1.000200
12,alpha_normalised,1,13,5.82625,5.23104,5.59874,5.83243,6.06276,6.38496,5954.57,1.000560
13,alpha_normalised,1,14,4.71550,4.21878,4.52589,4.72439,4.91878,5.17975,5821.05,0.999616
14,alpha_normalised,1,15,6.36681,5.75458,6.10911,6.37457,6.62964,6.97273,6025.30,0.999675
15,alpha_normalised,1,16,5.52009,4.96602,5.29963,5.52578,5.75134,6.04904,5349.25,0.999424
16,alpha_normalised,1,17,5.32398,4.74379,5.09423,5.33012,5.56230,5.87626,5634.48,0.999292
17,alpha_normalised,1,18,5.41654,4.85719,5.20067,5.42065,5.64255,5.94388,6564.20,0.999525
18,alpha_normalised,1,19,5.82229,5.24017,5.59551,5.82400,6.06111,6.37747,5429.22,0.999843
19,alpha_normalised,1,20,5.49402,4.91908,5.27742,5.50206,5.72519,6.01869,5784.50,0.999502
20,alpha_normalised,1,21,5.36087,4.71918,5.11190,5.36597,5.62007,5.97933,5722.33,0.999685
21,alpha_normalised,1,22,5.25432,4.73584,5.04921,5.26675,5.47331,5.73795,5583.44,0.999708
22,alpha_normalised,1,23,5.93983,5.20638,5.64323,5.94119,6.23697,6.65048,5730.64,0.999248
23,alpha_normalised,1,24,5.09350,4.50393,4.85836,5.10286,5.32962,5.66763,4743.54,1.000200
24,alpha_normalised,1,25,3.36107,2.51720,3.03219,3.36966,3.70648,4.17177,1578.43,1.000230
25,alpha_normalised,1,26,5.31471,4.73694,5.09168,5.32348,5.55315,5.86837,4872.91,0.999757
26,alpha_normalised,1,27,5.61066,5.07224,5.39771,5.61398,5.82730,6.13496,5364.62,0.999446
27,alpha_normalised,1,28,5.65979,5.03530,5.41504,5.65674,5.91071,6.26524,5907.29,0.999302
28,alpha_normalised,1,29,5.38654,4.85562,5.17486,5.39351,5.60446,5.89374,6546.50,0.999510
29,alpha_normalised,1,30,5.41068,4.80680,5.19451,5.42231,5.64085,5.96727,5737.91,0.999387
30,alpha_normalised,1,31,6.37222,5.71636,6.12778,6.37284,6.62382,6.99844,5029.19,0.999561
31,alpha_normalised,1,32,5.19963,4.63692,4.97716,5.20450,5.43465,5.73134,6536.82,0.999506
32,alpha_normalised,1,33,5.94061,5.34277,5.72056,5.95267,6.18165,6.47742,5479.58,1.000070
33,alpha_normalised,1,34,5.54043,4.94653,5.31775,5.55112,5.78496,6.09660,5818.39,0.999831
34,alpha_normalised,1,35,5.73953,5.10096,5.49471,5.74827,5.98663,6.35613,5781.05,0.999533
35,alpha_normalised,1,36,3.23995,2.39317,2.89002,3.25415,3.59875,4.05740,1166.71,1.003140

In [52]:
from utilities import get_abundance_contrast_draws
get_abundance_contrast_draws(data, contrasts)

,cell_group,M,chain__,iter__,draw__,parameter,value,N_Eff,R_k_hat
0,B1,1,1.0,1.0,1,type[benign],0.984241,4577.80,0.999508
285339,M6,26,3.0,667.0,2667,type[benign],-1.202490,4518.18,1.000240
285338,M6,26,3.0,667.0,2667,type[benign],-1.202490,4518.18,1.000240
285337,M6,26,3.0,667.0,2667,type[benign],-1.202490,3727.75,1.000830
285336,M5,25,3.0,667.0,2667,type[benign],-0.827661,1573.58,1.001080
...,...,...,...,...,...,...,...,...,...
904000,CD8 4,13,2.0,334.0,1334,type[cancer] - type[benign],0.250116,NaN,NaN
904001,CD8 5,14,2.0,334.0,1334,type[cancer] - type[benign],0.006355,NaN,NaN
904002,CD8 6,15,2.0,334.0,1334,type[cancer] - type[benign],0.100852,NaN,NaN
903996,CD4 5,9,2.0,334.0,1334,type[cancer] - type[benign],0.280184,NaN,NaN
999999,TM3,36,4.0,1000.0,4000,type[cancer] - type[benign],-0.822797,NaN,NaN

In [53]:
# Extract attributes
sample = data.get("sample")
cell_group = data.get("cell_group")
count = data.get("count")
model_input = data.get("model_input")
truncation_df2 = data.get("truncation_df2")

In [54]:
# Abundance
abundance_CI = get_abundance_contrast_draws(data, contrasts)

In [55]:
draws = abundance_CI
percent_false_positive = 5 
test_composition_above_logit_fold_change=0.1

In [56]:
from utilities import draws_to_statistics
draws_to_statistics(abundance_CI, percent_false_positive / 100,
            test_composition_above_logit_fold_change,
            cell_group,
            "c_")

,cell_group,M,parameter,c_lower,c_effect,c_upper,c_pH0,FDR,N_Eff,R_k_hat
0,B1,1,type[benign],0.902579,1.156730,1.382986,0.00000,0.000000,4577.800,0.999508
1,B1,1,type[cancer],0.143119,0.490314,0.813757,0.01425,0.001590,4821.820,0.999228
2,B1,1,type[cancer] - type[benign],-1.067983,-0.662448,-0.268529,0.00250,0.000800,NaN,NaN
3,B2,2,type[benign],0.406401,0.722807,1.020415,0.00025,0.000024,4722.940,1.000590
4,B2,2,type[cancer],-0.424508,0.024740,0.434887,0.63725,0.088066,5123.280,0.999620
...,...,...,...,...,...,...,...,...,...,...
103,TM2,35,type[cancer],-1.224336,-0.896073,-0.590296,0.00000,0.000000,4094.750,0.999979
104,TM2,35,type[cancer] - type[benign],-0.178258,0.274012,0.728024,0.22250,0.055906,NaN,NaN
105,TM3,36,type[benign],-1.695677,-0.796452,0.276427,0.10925,0.018129,828.269,1.006230
106,TM3,36,type[cancer],-3.899472,-2.637370,-1.397299,0.00000,0.000000,839.903,1.007360
107,TM3,36,type[cancer] - type[benign],-3.102306,-1.849240,-0.744642,0.00050,0.000125,NaN,NaN

In [57]:
from utilities import get_variability_contrast_draws
variability_CI = get_variability_contrast_draws(data, None)

In [58]:
from functions_multi_beta_binomia import get_mean_precision_association
get_mean_precision_association(fit)

{'prec_coeff': prec_coeff[1]    5.335060
 prec_coeff[2]   -0.583438
 Name: Mean, dtype: float64,
 'prec_sd': prec_sd    0.7219
 Name: Mean, dtype: float64}